#velvetTable {
    background: darkgreen url('../img/background/green-velvet.jpg');
    border: solid 7px black;
}

.playingCard {
    width: 12%;
    height: 150px;
    display: inline-block;

    font-size: 14pt;
}